.App {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: #f8f8f8;
}

.title {
	color: #333;
	margin-bottom: 10px;
}

.subTitle {
	color: #555;
	margin-bottom: 20px;
}